/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORI */
:root {
    --light-gray: #e1eaeb;
}

/* GENERALE */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/* TESTO */
h1,
h2 {
    color: white;
    text-align: center;
}

h1 {
    margin-top: 2rem;
    font-size: 5rem;
}

h2 {
    margin-top: 0.2rem;
    font-size: 2rem;
    font-weight: 100;
}

/* MAIN */

main {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
    margin: 3rem 0 2rem;
}

#card-box {
    margin: 0 auto;
    height: 100%;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card-box .card {
    margin-bottom: 25px;
    padding: 1rem;
    width: calc(100% / 3 - 50px);
    background-color: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#card-box .card img {
    display: block;
    margin: 0 auto;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#card-box .card h4 {
    margin: 1rem 0;
    color: #09203f;
    font-size: 1.5rem;
    text-align: center;
}

#card-box .card p {
    margin: 1rem 0;
    color: #09203f;
    text-align: center;
}